<div class="container mx-auto px-4 py-8">
  <h2 class="text-2xl font-bold mb-6">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="space-y-4">
      <div>
        <%= f.label :name, class: "block font-semibold mb-1" %>
        <%= f.text_field :name, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200" %>
      </div>

      <div>
        <%= f.label :role_id, class: "block font-semibold mb-1" %>
        <%= f.collection_select :role_id, Role.all, :id, :name, { prompt: "Select a role" }, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200" %>
      </div>

      <div>
        <%= f.label :email, class: "block font-semibold mb-1" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200" %>
      </div>

      <div>
        <%= f.label :password, class: "block font-semibold mb-1" %>
        <% if @minimum_password_length %>
          <em class="text-sm text-gray-500">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200" %>
      </div>

      <div>
        <%= f.label :password_confirmation, class: "block font-semibold mb-1" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200" %>
      </div>

      <div class="mt-6">
        <%= f.submit "Sign up", class: 'text-gray-900 bg-green-500 focus:outline-none hover:bg-green-100 focus:ring-1 focus:ring-green-100 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:text-black dark:border-green-600 dark:hover:bg-green-400 dark:hover:border-green-600 dark:focus:ring-green-100' %>
      </div>
    </div>
  <% end %>

  <%= render "devise/shared/links", class: "mt-4" %>
</div>
