<nav class="p-4 flex justify-between sticky top-0 h-20 items-center">
  <div class="flex items-center space-x-2">
    <div>
      <%= image_tag 'companhia.png', :alt => "logo", class: 'w-10 h-10'%>
    </div>
    <div class="font-bold">
      Audit Tools
    </div>
  </div>
  <div class="flex space-x-2">

    <% if current_page?(controller: 'companies', action: 'index') %>
      <%= render 'shared/companies_search_form' %>
    <% elsif current_page?(controller: 'proposals', action: 'index') %>
      <%= render 'shared/proposals_search_form' %>
    <% elsif current_page?(controller: 'standards', action: 'index') %>
      <%= render 'shared/standards_search_form' %>
    <% elsif current_page?(controller: 'users', action: 'index') %>
      <%= render 'shared/users_search_form' %>
    <% end %>
    <div class="md:hidden">
      Dropdown
    </div>
  </div>
</nav>