<div id="<%= dom_id company %>">
  <p>
    <strong>Legal name:</strong>
    <%= company.legal_name %>
  </p>

  <p>
    <strong>Sales name:</strong>
    <%= company.sales_name %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= company.cnpj %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= company.street %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= company.number %>
  </p>

  <p>
    <strong>Compliment:</strong>
    <%= company.compliment %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= company.neighborhood %>
  </p>

  <p>
    <strong>City:</strong>
    <%= company.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= company.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= company.country %>
  </p>

  <p>
    <strong>Scope:</strong>
    <%= company.scope %>
  </p>

  <p>
    <strong>Contact name:</strong>
    <%= company.contact_name %>
  </p>

  <p>
    <strong>Contact phone:</strong>
    <%= company.contact_phone %>
  </p>

  <p>
    <strong>Contact email:</strong>
    <%= company.contact_email %>
  </p>

</div>
