<div class="container mx-auto px-4 py-8">
  <% if notice.present? %>
    <p class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-4" role="alert"><%= notice %></p>
  <% end %>

  <div class="flex space-x-4 justify-end mb-6">
    <%= link_to "Back to companies", companies_path, class: 'default-button' %>

    <%= link_to "Edit this company", edit_company_path(@company), class: 'default-button' %>

    <%= button_to "Destroy this company", @company, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class: 'danger-button' %>
  </div>

  <div id="<%= dom_id @company %>" class="bg-white shadow-md rounded-lg p-6 mb-6">
    <h1 class="text-2xl font-bold mb-4"><%= @company.legal_name %></h1>

    <div class="grid grid-cols-2 gap-4">
      <div>
        <p><strong>Legal name:</strong> <%= @company.legal_name %></p>
        <p><strong>CNPJ:</strong> <%= @company.cnpj %></p>
        <p><strong>Street:</strong> <%= @company.street %></p>
        <p><strong>Number:</strong> <%= @company.number %></p>
        <p><strong>Neighborhood:</strong> <%= @company.neighborhood %></p>
        <p class="mt-4" ><strong>Contact name:</strong> <%= @company.contact_name %></p>
        <p><strong>Contact position:</strong> <%= @company.contact_position %></p>
        <p><strong>Contact email:</strong> <%= @company.contact_email %></p>
      </div>
      <div>
        <p><strong>Sales name:</strong> <%= @company.sales_name %></p>
        <p><strong>Complement:</strong> <%= @company.compliment %></p>
        <p><strong>Employees quantity:</strong> <%= @company.employees_number %></p>
        <p><strong>City:</strong> <%= @company.city %></p>
        <p><strong>State:</strong> <%= @company.state %></p>
        <p><strong>Zip:</strong> <%= format_cep @company.zip %></p>
        <p><strong>Country:</strong> <%= @company.country %></p>
      </div>
    </div>

    <p><strong>Contact phone:</strong> <%= format_phone @company.contact_phone %></p>
    <p class="mt-4"><strong>Scope:</strong> <%= @company.scope %></p>
  </div>
</div>
