<h1>Hi <%= @user.name %>!</h1>
<p>
  We hope this emails finds you well.
  We are pleased to inform that your audit on <%= @company.sales_name %> has been <b style="color: red">canceled</b>.
  Please, find below the details:
</p>
<p>
  <h2> <%= @proposal.title %> </h2>
  <h3> <%= @item.stage %> </h3>
  <h3> <%= @item.standard.name %> </h3>
</p>
<p>
  <s>
    <%= "from: " + @item.start_time.strftime('%d/%m/%Y') if @item.start_time.present? %>
    <%= "to: " + @item.end_time.strftime('%d/%m/%Y') if @item.end_time.present? %>
  </s>
</p>
<p>
  <s>Onsite days: <%= @item.onsite_man_days %></s>
</p>
<p>
  <s>Offsite days: <%= @item.off_site_man_days %></s>
</p>
<p>
  <s>Total days: <%= @item.total_days %></s>
</p>
<p>Thanks for the attention and have a great day!</p>