<div class="container mx-auto px-4 py-8">
  <% if notice.present? %>
    <p class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-4" role="alert"><%= notice %></p>
  <% end %>

  <% content_for :title, "Proposals" %>

  <div class="flex justify-between mb-6">
    <h1 class="text-2xl font-bold">Proposals</h1>
    <%= button_to "New proposal", new_proposal_path, method: :get, class: 'text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-full text-sm px-5 py-2.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700' %>
  </div>

  <div class="space-y-4" id="proposals">
    <% @proposals.each do |proposal| %>
      <div class="bg-white shadow-md rounded-lg p-6 flex justify-between items-center">
        <div class="flex flex-col">
          <p class="text-sm text-gray-500 mb-1">
            <strong>Company:</strong>
            <%= Company.find_by(id: proposal.company_id).sales_name %>
          </p>
          <p class="text-sm text-gray-500 mb-1">
            <strong>Title:</strong>
            <%= proposal.title %>
          </p>
        </div>

        <div class="ml-6">
          <%= button_to "Show this proposal", proposal, method: :get, class: 'text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-full text-sm px-5 py-2.5 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
