<div class="container mx-auto px-4 py-8">
  <% if notice.present? %>
    <p class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-4" role="alert"><%= notice %></p>
  <% end %>

  <% content_for :title, "Proposals" %>

  <div class="flex justify-between mb-6">
    <h1 class="text-2xl font-bold">Proposals</h1>
    <%= button_to "New proposal", new_proposal_path, method: :get, class: 'text-gray-900 bg-green-500 focus:outline-none hover:bg-green-100 focus:ring-1 focus:ring-green-100 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:text-black dark:border-green-600 dark:hover:bg-green-400 dark:hover:border-green-600 dark:focus:ring-green-100' %>
  </div>

  <div class="space-y-4" id="proposals">
    <% @proposals.each do |proposal| %>
      <div class="bg-white shadow-md rounded-lg p-6 flex justify-between items-center">
        <div class="flex flex-col">
          <p class="text-lg font-semibold mb-2">
            <%= proposal.title %>
          </p>
          <p class="text-sm text-gray-500 mb-1">
            <strong>Company:</strong>
            <%= proposal.company.sales_name %>
          </p>
          <div>
          <span class="self-start text-gray-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded me-2 dark:bg-gray-700 dark:text-gray-400 border border-gray-500 ">
            <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z"/>
            </svg>
            Last edited: <%= proposal.last_updated_at %> days ago
          </span>
            <% if proposal.status.present? %>
              <%= case proposal.status
                  when 'Approved'
                    content_tag(:span, proposal.status, class: 'self-start bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300')
                  when 'Client Review'
                    content_tag(:span, proposal.status, class: 'self-start bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300')
                  when 'On-hold'
                    content_tag(:span, proposal.status, class: 'self-start bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-indigo-900 dark:text-indigo-300')
                  when 'Cancelled', 'Rejected'
                    content_tag(:span, proposal.status, class: 'self-start bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300')
                  else
                    content_tag(:span, 'Unknown Status', class: 'self-start bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-yellow-900 dark:text-yellow-300')
                  end %>
            <% end %>
          </div>
        </div>
        <div class="ml-6">
          <%= button_to "Show this proposal", proposal, method: :get, class: 'text-gray-900 bg-white focus:outline-none hover:bg-gray-100 focus:ring-1 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:text-black dark:border-gray-600 dark:hover:bg-gray-100 dark:hover:border-gray-600 dark:focus:ring-gray-100' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
