<div class="container mx-auto px-4 py-8">
  <% if notice.present? %>
    <p class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-4" role="alert"><%= notice %></p>
  <% end %>

  <% content_for :title, "Proposal Details" %>
  <div class="flex space-x-4 justify-end mb-6">
    <%= link_to "Back to proposals", proposals_path, class: 'text-gray-900 bg-white focus:outline-none hover:bg-gray-100 focus:ring-1 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:text-black dark:border-gray-600 dark:hover:bg-gray-100 dark:hover:border-gray-600 dark:focus:ring-gray-100' %>
    <%= link_to "Edit this proposal", edit_proposal_path(@proposal), class: 'text-gray-900 bg-white focus:outline-none hover:bg-gray-100 focus:ring-1 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:text-black dark:border-gray-600 dark:hover:bg-gray-100 dark:hover:border-gray-600 dark:focus:ring-gray-100' %>
    <%= button_to "Destroy this proposal", @proposal, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class: 'text-gray-900 bg-red-500 focus:outline-none hover:bg-green-100 focus:ring-1 focus:ring-red-100 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:text-black dark:border-red-600 dark:hover:bg-red-400 dark:hover:border-red-600 dark:focus:ring-red-100' %>
  </div>

  <div id="<%= dom_id @proposal %>" class="bg-white shadow-md rounded-lg p-6 mb-6">
    <h2 class="text-xl font-bold mb-4">Proposal Details</h2>
    <p class="text-lg font-semibold mb-2">
      <%= @proposal.title %>
    </p>
    <p class="text-sm text-gray-500 mb-2">
      <strong>Company:</strong>
      <%= Company.find_by(id: @proposal.company_id).sales_name %>
    </p>
  </div>

  <%= turbo_frame_tag 'item_form' do %>
    <% @proposal.items.each do |item| %>
      <div id="<%= dom_id item %>" class="bg-white shadow-md rounded-lg p-6 mb-6">
        <h3 class="text-lg font-semibold mb-4">Item Details</h3>
        <div class="grid grid-cols-2 gap-4 mb-4">
          <p class="text-sm text-gray-700">
            <strong class="font-medium">Standard:</strong>
            <%= Standard.find_by(id: item.standard_id).name %>
          </p>
          <p class="text-sm text-gray-700">
            <strong class="font-medium">Stage:</strong>
            <%= item.stage %>
          </p>
          <p class="text-sm text-gray-700">
            <strong class="font-medium">Year:</strong>
            <%= item.year %>
          </p>
          <p class="text-sm text-gray-700">
            <strong class="font-medium">Onsite man days:</strong>
            <%= item.onsite_man_days %>
          </p>
          <p class="text-sm text-gray-700">
            <strong class="font-medium">Off site man days:</strong>
            <%= item.off_site_man_days %>
          </p>
          <p class="text-sm text-gray-700">
            <strong class="font-medium">Total days:</strong>
            <%= item.total_days %>
          </p>
          <p class="text-sm text-gray-700">
            <strong class="font-medium">Man day rate:</strong>
            <%= item.man_day_rate %>
          </p>
          <p class="text-sm text-gray-700">
            <strong class="font-medium">Total cost:</strong>
            <%= item.total_cost %>
          </p>
        </div>
        <div class="flex justify-end space-x-4">
          <%= link_to "Edit", edit_proposal_item_path(@proposal, item), class: 'text-gray-900 bg-white focus:outline-none hover:bg-gray-100 focus:ring-1 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:text-black dark:border-gray-600 dark:hover:bg-gray-100 dark:hover:border-gray-600 dark:focus:ring-gray-100' %>
          <%= button_to "Destroy", proposal_item_path(@proposal, item), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class: 'text-gray-900 bg-red-500 focus:outline-none hover:bg-green-100 focus:ring-1 focus:ring-red-100 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:text-black dark:border-red-600 dark:hover:bg-red-400 dark:hover:border-red-600 dark:focus:ring-red-100' %>
        </div>
      </div>
    <% end %>
    <%= link_to "Add Items", new_proposal_item_path(@proposal), data: { turbo_frame: 'item_form' }, class: 'text-gray-900 bg-green-500 focus:outline-none hover:bg-green-100 focus:ring-1 focus:ring-green-100 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:text-black dark:border-green-600 dark:hover:bg-green-400 dark:hover:border-green-600 dark:focus:ring-green-100' %>
  <% end %>
</div>