<div id="<%= dom_id item %>">
  <p>
    <strong>Standard:</strong>
    <%= item.standard_id %>
  </p>

  <p>
    <strong>Stage:</strong>
    <%= item.stage %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= item.year %>
  </p>

  <p>
    <strong>Onsite man days:</strong>
    <%= item.onsite_man_days %>
  </p>

  <p>
    <strong>Off site man days:</strong>
    <%= item.off_site_man_days %>
  </p>

  <p>
    <strong>Total days:</strong>
    <%= item.total_days %>
  </p>

  <p>
    <strong>Man day rate:</strong>
    <%= item.man_day_rate %>
  </p>


  <p>
    <strong>Total cost:</strong>
    <%= item.total_cost %>
  </p>

</div>
