<p style="color: green"><%= notice %></p>

<%= render @item %>

<div>
  <%= link_to "Edit this item", edit_proposal_item_path(@proposal, @item) %> |
  <%= link_to "Back to items", proposal_items_path %>

  <%= button_to "Destroy this item", proposal_item_path(@item), method: :delete %>
</div>
