<%= form_with(model: standard, class: "w-full max-w-lg mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4") do |form| %>
  <% if standard.errors.any? %>
    <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4" role="alert">
      <h2 class="font-bold mb-2"><%= pluralize(standard.errors.count, "error") %> prohibited this standard from being saved:</h2>
      <ul class="list-disc list-inside">
        <% standard.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w-full md:w-1/2 px-4 mb-4">
    <%= form.label :name, "Name", class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :name, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
  </div>

  <div class="flex items-center justify-between w-full md:w-1/2 px-4 mb-4">
    <%= form.submit "Save standard", class: 'text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-full text-sm px-5 py-2.5 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700' %>
  </div>
<% end %>
